<launch>
    <param name="/use_sim_time" value="true"/>

    <!-- start rviz and stage -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find socspioneer)/config/gmapping.rviz"/>
    <node name="stage" pkg="stage_ros" type="stageros" args="$(find socspioneer)/data/meeting.world"/>

    <!-- start slam on robot_0, the name coming from stageros's meeting.world -->
    <include file="$(find socspioneer)/launch/slam.launch">
        <arg name="robot_name" value="robot_0" />
    </include>
    <include file="$(find socspioneer)/launch/slam.launch">
        <arg name="robot_name" value="robot_1" />
    </include>

    <!-- map merging -->
    <node name="map_merge" pkg="multirobot_map_merge" type="map_merge">
        <param name="robot_namespace" value="robot_" />
        <param name="known_init_poses" value="false" />
    </node>

    <!-- start game -->
    <node name="game_manager" pkg="socspioneer" type="gameManager.py"/>
</launch>